@media screen and (min-width:992px) {
    #top-wrapper {
      position: relative;
    }
  
    #cta {
      position:absolute;
      top:35%;
      left:40%;
      opacity: 1.0;
    }

    .box{
      width:450px;
    }

    #yoga-top-wrapper {
      position: relative;
    }

    #yoga-cta {
      position:absolute;
      top:70%;
      left:10%;
      opacity: 1.0;
    }

  
  }